.container {
    max-width: 120rem;
    margin: 8rem auto;
  }
  
  
  .content {
    display: flex;
    border: 1px solid black;
    height: 50rem;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    width: 57rem;
    margin-left: 280px;
      min-height: 100vh;
    }
 
  .info-window {
    flex: 1;
  }
  