.container {
    max-width: 120rem;
    margin: 8rem auto;
  }
  @media only screen and (max-width: 75em) {
    .container {
      max-width: 100%;
      margin: 0;
    }
  }
  /* /////////////////////////////////////////////////////////////////////////////////// */
  /* CONTENT CONTAINER */
  .content {
    display: flex;
    border: 1px solid black;
    height: 50rem;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    width: 57rem;
    margin-left: 280px;
      min-height: 100vh;
    }

  
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column;
    }
  }
  
  /* /////////////////////////////////////////////////////////////////////////////////// */
  /* INFO WINDOW */
  .info-window {
    flex: 1;
  }
  